{% extends 'layouts/base.html' %} {% load static %} {% block body %}
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="max-w-2xl lg:max-w-5xl mx-auto">
    <div class="text-center">
      <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl dark:text-white">
        New Post
      </h1>
      <p class="mt-1 text-gray-600 dark:text-gray-400">
        Create a new post and share it with the world.
      </p>
    </div>
    <div class="mt-12 grid items-start lg:grid-cols-3 gap-6 lg:gap-16">
      <!-- Card -->
      <div class="col-span-2 lg:order-none order-last bg-white rounded prose md:prose-lg lg:prose-xl max-w-none dark:prose-invert">
        <div id="postContent" class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-8 dark:border-gray-700 bg-white"></div>
      </div>

      <div class="lg:col-span-1 col-span-2 dark:divide-gray-800">
        <h2 class="mb-8 text-xl font-semibold text-gray-800 dark:text-gray-200">
          Post Details
        </h2>
        <form method='POST' class="space-y-4 flex flex-col" enctype="multipart/form-data">
          {% csrf_token %}
          <div id="image-upload-container" class="group rounded-md">
            <div id="image-upload-trigger" class="cursor-pointer flex flex-col justify-center items-center w-full group-hover:opacity-70 aspect-[4/3] bg-gray-100 dark:bg-gray-800 rounded-md border border-gray-200 dark:border-gray-700">
              <svg class="w-12 h-12 group-hover:text-gray-600 group-hover:dark:text-gray-400 text-gray-400 dark:text-gray-600 transition-all duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
              </svg>
              <p class="group-hover:text-gray-600 group-hover:dark:text-gray-400 text-gray-400 dark:text-gray-600 transition-all duration-200">
                ADD IMAGE
              </p>
            </div>
            <input type="file" name="image" id="image-upload-input" class="hidden" />
          </div>
          {% csrf_token %}

            <div>
              <label for="title" class="dark:text-gray-300">Title</label>
              <input type="text" name="title" id="title"
                class=" mt-4 py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                placeholder="Enter a title" />
            </div>

            <div>
              <label for="tags-input" class="dark:text-gray-300">Tags</label>
              <div id="selected-tags" class="my-2 space-x-2 flex"></div>
              <div
                class="group relative border border-gray-200 dark:border-gray-700 rounded-md focus-within:bg-red-500">
                <input id="tags-input" type="text"
                  class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                  placeholder="Add Tag" />
                <input type="text" class="hidden" name="tags" id="tags" />
                <div id="tags-dropdown" class="absolute hidden z-10 bg-white dark:bg-slate-900 rounded-md w-full border border-gray-200">
                  <ul class="py-1"></ul>
                </div>
              </div>
            </div>
            <input type="hidden" name="body" id="postContent-input" />
            <div class="space-y-2 flex flex-col">
              <button type="submit" name="action" value="draft"
                class="inline-flex justify-center items-center gap-x-3 text-center bg-gray-500 hover:bg-gray-600 border border-transparent text-sm lg:text-base text-white font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:focus:ring-offset-gray-800">
                Save Draft
              </button>
              <button type="submit" name="action" value="publish"
                class="inline-flex justify-center items-center gap-x-3 text-center bg-blue-600 hover:bg-blue-700 border border-transparent text-sm lg:text-base text-white font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:focus:ring-offset-gray-800">
                Publish Post
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.4.1/dist/typography.min.css" />
  <link rel="stylesheet" href="{% static 'css/summernote-lite.min.css' %}" />
  <script src="{% static 'js/summernote-lite.min.js' %}"></script>
  <script src="{% static 'js/create_post.js' %}"></script>
  {% endblock body %}