<div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto space-y-3 md:space-y-4">
    <form id="comment-input" class="flex justify-between items-start space-x-3 mb-8">
        <img class="w-9 h-9 rounded-full aspect-[1/1] bg-[#9BF6FF]" src="https://api.dicebear.com/7.x/personas/svg?seed=Midnight&body=checkered,squared&clothingColor[]&eyes=sunglasses&facialHair[]&hair=buzzcut,fade&hairColor=f27d65&mouth=smile,smirk">
        <div class="input-group w-full flex flex-col md:flex-row md:space-x-3 items-start space-y-2 md:space-y-0">
            <div class="group w-full focus-within:ring-2 focus:ring-blue-600 focus:ring-opacity-50 space-y-2">
                <input type="text" class="w-full rounded-lg bg-white dark:bg-gray-800  py-2 px-4 outline-none" placeholder="Enter your name">
                <textarea class="w-full rounded-lg bg-white dark:bg-gray-800  py-2 px-4 outline-none" type="text" placeholder="Write a comment..."></textarea>
            </div>
            <button class="bg-blue-600 hover:bg-blue-700 w-full md:w-fit text-white font-medium py-2 px-4 md:rounded-full rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">Comment</button>
        </div>
    </form>
    <div class="comment flex justify-start space-x-3">
        <img class="w-9 h-9 rounded-full" src="https://api.dicebear.com/7.x/personas/png??backgroundColor=ffadad,ffd6a5,fdffb6,caffbf,9bf6ff,a0c4ff,bdb2ff,ffc6ff&seed=wtfs23s.png">
        <div class="space-y-1 bg-gray-50 shadow-sm border-gray-700 px-4 py-2 rounded">
            <div class="text-sm font-medium text-gray-900 dark:text-gray-100">
                Edward Snowden <span class='text-xs text-gray-400 dark:text-gray-400'>Just now</span>
            </div>
            <div class="text-xs text-gray-500 dark:text-gray-400">
                Lorem ipsum dolor sit amet consectetur, expedita laborum rem, saepe aliquid, ex dolorum labore.
            </div>
        </div>
    </div>
</div>