{% load comment_extras %}
<div id="comment-section" class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto space-y-3 md:space-y-4">
    <form id="comment-input" method="POST" class="flex justify-between items-start space-x-3 mb-8">
        {% csrf_token %}
        <img class="w-9 h-9 rounded-full aspect-[1/1] bg-[#d9d9d9]" src="https://api.dicebear.com/7.x/personas/svg?seed=Midnight&body=checkered,squared&clothingColor[]&eyes=sunglasses&facialHair[]&hair=buzzcut,fade&hairColor=f27d65&mouth=smile,smirk">
        <div class="input-group w-full flex flex-col md:flex-row md:space-x-3 items-start space-y-2 md:space-y-0">
            <div class="group w-full rounded-lg space-y-2">
                <input name="name" required maxlength="50" type="text" class="w-full rounded-lg focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50 bg-white dark:bg-gray-800  py-2 px-4 outline-none" placeholder="Enter your name">
                <input name="email"  required type="email" class="w-full rounded-lg focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50 bg-white dark:bg-gray-800  py-2 px-4 outline-none" placeholder="Enter your Email">
                <textarea name="content" required maxlength="500" class="w-full rounded-lg focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50 bg-white dark:bg-gray-800  py-2 px-4 outline-none" type="text" placeholder="Write a comment..."></textarea>
                <span id="char-count" class="text-xs text-gray-400 dark:text-gray-700 block float-right">
                    <span id="char-count-num">0</span>/500
                </span>
            </div>
            <button class="bg-blue-600 hover:bg-blue-700 w-full md:w-fit text-white font-medium py-2 px-4 md:rounded-full rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">Comment</button>
        </div>
    </form>

    {% for comment in comments %}

    <div class="comment flex justify-start space-x-3">
        <img class="w-9 h-9 rounded-full" src="https://api.dicebear.com/7.x/personas/png??backgroundColor=d9d9d9&seed={{ post.email|hash }}">
        <div class="space-y-1 bg-gray-50 shadow-sm border-gray-700 px-4 py-2 rounded">
            <div class="text-sm font-medium text-gray-900 dark:text-gray-100">
                {{ comment.name }} <span class='text-xs text-gray-400 dark:text-gray-400'>{{ comment.created|timesince }} ago</span>
            </div>
            <div class="text-xs text-gray-500 dark:text-gray-400">
                {{ comment.content }}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<script>
    const commentInput = document.getElementById('comment-input');
    commentContent = commentInput.querySelector('textarea');
    commentContent.addEventListener('input', () => {
        const charCount = document.getElementById('char-count-num');
        charCount.innerText = commentContent.value.length;
    });


    const
</script>